@use "src/styles/utils";

.container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 2.5em;

  & > * {
    flex-shrink: 0;
  }
}

.leftButtons,
.rightButtons {
  display: grid;
  grid-auto-flow: column;
  gap: 2em;
}
