@use "sass:math";
@use "src/styles/utils";

.container {
  @include utils.greyGradientBackground(0.25em);
  border-radius: 0.25em;
  display: grid;
  grid-auto-flow: column;
  gap: 0.125em;
}

.item {
  @include utils.goldenGradientBackground(0.125em);
  position: relative;
  display: block;
  width: 3em;
  height: 1.25em;
  border-radius: 0.125em;
  transition: opacity 0.3s;
}
